{%extends 'emp_home.html'%}
{%block side%}

{%if e1%}
<div class="container">
    <section class="vh-70" style="background-color: #f4f5f7;">
        <h3 class="text-center" style="font-weight: 900;color: cadetblue;">Employe Job Experience</h3>
        <div class="container py-1 h-60">
            <div class="row d-flex justify-content-center align-items-center h-60">
                <div class="col col-lg-6 mb-2 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="col-md-12">
                            <div class="card-body p-2">
                                <h6></h6>
                                <hr class="mt-0 mb-2">
                                <div class="row pt-1">
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Job-Title-1</h6>
                                        <p style="color: rgb(255, 68, 0);font-size: 20px;font-weight: 700;">{{e1.job_title1}}</p>
                                    </div>
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Comapny 1</h6>
                                        <p  style="color: rgb(255, 162, 0);font-size: 20px;font-weight: 500;">{{e1.company1}}</p>
                                    </div>
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Year's Of Experience</h6>
                                        <p style="color: rgb(255, 162, 0);font-size: 20px;font-weight: 500;">{{e1.years1}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row pt-1">
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Job-Title-2</h6>
                                        <p style="color: rgb(255, 68, 0);font-size: 20px;font-weight: 700;">{{e1.job_title2}}</p>
                                    </div>
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Comapny 2</h6>
                                        <p style="color: rgb(255, 162, 0);font-size: 20px;font-weight: 500;">{{e1.company2}}</p>
                                    </div>
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Year's Of Experience</h6>
                                        <p style="color: rgb(255, 162, 0);font-size: 20px;font-weight: 500;">{{e1.years2}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row pt-1">
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Job-Title-3</h6>
                                        <p style="color: rgb(255, 68, 0);font-size: 20px;font-weight: 700;">{{e1.job_title3}}</p>
                                    </div>
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Comapny 3</h6>
                                        <p style="color: rgb(255, 162, 0);font-size: 20px;font-weight: 500;">{{e1.company3}}</p>
                                    </div>
                                    <div class="col-4 mb-0">
                                        <h6 style="font-weight: 700;">Year's Of Experience</h6>
                                        <p style="color: rgb(255, 162, 0);font-size: 20px;font-weight: 500;">{{e1.years3}}</p>
                                    </div>
                                    <hr>

                                </div>
                                <div class="row pt-1">
                                    <div class="col-12 mb-3">
                                        <a href="/emp_exp_update/{{e.id}}"
                                            class="btn btn-outline-success btn-lg">Update Your Experience Details</a>

                                    </div>
                                </div>
                                <!-- <hr class="mt-0 mb-2"> -->



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
{%else%}
<div class="shadow-lg p-3 mb-5 bg-white rounded">

    <div class="container d-flex justify-content-center ">
        <a href="/emp_exp" class="btn btn-outline-success btn-lg text-center">Add Experience Details</a>
    </div>

</div>
{%endif%}
{%endblock%}

